.additional {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.additional__item-wrapper {
  display: flex;
  flex-direction: column;
}

.additional__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.additional__item {
  display: flex;
  flex-direction: column;
}

.additional__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.additional__button {
  color: #ffffff;
  background-color: #68b738;
}
//планшетная версия
@media (min-width: 768px) {
  .additional__title {
    text-align: left;
  }

  .additional__item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .additional__button {
    min-width: 100%;
  }
}
