.catalog {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
}

.item__information {
  display: flex;
  flex-direction: row;
}

.item__description {
  display: flex;
  flex-direction: column;
}
