.comparisons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.comparisons__images {
  display: flex;
  flex-direction: column;
}

.comparisons__img--before {
  position: absolute;
}
//планшетная версия
@media (min-width: 768px) {
  .comparisons__img--before {
    position: absolute;
  }
}
//десктопная версия
@media (min-width: 1440px) {
  .comparisons__img--before {
    position: absolute;
  }
}
