.comparisons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comparisons__images {
  display: flex;
  flex-direction: column;
}

.comparisons__img--before {
  position: absolute;
}
//планшетная версия
@media (min-width: 768px) {
  .comparisons {
    width: 100%;
  }

  .comparisons__img--before {
    position: absolute;
  }
}
//десктопная версия
@media (min-width: 1300px) {
  .comparisons {
    width: 50%;
  }

  .comparisons__img--before {
    position: absolute;
  }
}
