.footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 320px;
}

.social__list {
  display: flex;
  flex-direction: row;
  height: 22px;
}

.social__link--vkontakte {
  background-image: url(../../img/icon-vk-mobile.svg);
  background-repeat: no-repeat;
}

.social__link--instagram {
  background-image: url(../../img/icon-insta-mobile.svg);
  background-repeat: no-repeat;
}

.social__item {
  list-style: none;
}
