.footer {
  width: 100%;
  /*mobile*/
  font: 400 14px "Oswald", "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.footer__container {
  width: 320px;
  /*mobile row*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 260px;
  height: 100%;
  margin: 0 auto;
}

.footer__copyright {
  display: flex;
  justify-content: space-around;
}

.footer__copyright-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

//планшетная версия
@media (min-width: 768px) {
  .footer {
    width: 100%;
    /*tablet*/
    min-height: 200px;
    display: flex;
    justify-content: center;
  }

  .footer__container {
    flex-direction: row;
    align-items: center;
    width: 768px;
    /*tablet-row*/
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer__logo {
    margin: 0 0;
  }
}

//десктопная версия
@media (min-width: 1300px) {
  .footer {
    width: 100%;
    /*desctop*/
  }

  .footer__container {
    width: 1300px;
    /*desctop row*/
    margin: 0 auto;
  }
}
