.header {
  font: 400 14px "Oswald", "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
}

.header__container {
  display: flex;
  min-width: 320px;
}

.header__logo {
  height: 65px;
  min-width: 190px;
}

.header__logo-image {
  margin: 0 auto;
}

