.header {
  font: 400 14px "Oswald", "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
}

.header__container {
  display: flex;
}

.header__logo {
  width: 80%;
}

.navigation {
  flex-direction: column;
}
