.info {
  display: flex;
  flex-direction: column;
  width: 320px;/*mobile*/
  margin: 0 auto;
}

.info__headline {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  margin: 0;
}

.info__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info__list-item {
  display: flex;
  align-items: center;
}

.info__img {
  background-color: #68b738;
}

.info__text {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
//планшетная версия
@media (min-width: 768px) {
  .info {
    width: 768px;/*tablet*/
    margin: 0 auto;
  }

  .info__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .info__list-item {
    flex-direction: column;
    width: 50%;
    min-height: 233px;
  }

  .info__img {
    align-self: flex-start;
  }

  .info__text {
    margin-left: 0;
  }
}

//десктопная версия
@media (min-width: 1300px) {
  .info{
    width: 1300px;/*desctop*/
    margin: 0 auto;
  }
  .info__list-item {
    width: 25%;
  }
}
