.item {
  display: flex;
  flex-direction: column;
}

.item__information {
  display: flex;
  flex-direction: row;
}

.item__description {
  display: flex;
  flex-direction: column;
}

.item__link-title {
  text-decoration: none;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
