.item {
  display: flex;
  flex-direction: column;
}

.item__information {
  display: flex;
  flex-direction: row;
}

.item__description {
  display: flex;
  flex-direction: column;
}

.item__link-title {
  text-decoration: none;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.button {
  text-decoration: none;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 14px "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}

.item__button {
  color: #ffffff;
  background-color: green;
}
