.live-example {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 100%;
  /*ширина для мобильного*/
  margin-top: 29px;
  min-width: 320px;
}

.live-example__container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.live-example__headline {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin: 17px 0 0 0;
  letter-spacing: -1.5px;
}

.live-example__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  padding-right: 10px;
  margin-top: 23px;
}

.live-example__wrapper {
  display: flex;
  justify-content: space-around;
}

.live-example__options {
  width: 100%;
}

.live-example__options-body {
  display: flex;
  flex-wrap: wrap;
  padding-top: 7px;
  width: 280px;
}

.live-example__options-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  min-width: 120px;
  position: relative;
}

.live-example__options-item-indicators--top {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 23px 10px 20px;
  width: 100px;
}

.live-example__options-item-discription--top {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  width: 57px;
  margin: 0 auto;
  margin-top: -10px;
  background: #f2f2f2;
  position: absolute;
  top: 100%;
  left: 26%;
}

.live-example__options-item--botom {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: 55px;
  margin-top: 20px;
}

//планшетная версия
@media (min-width: 768px) {
  .live-example {
    width: 100%;
    margin-top: 30px;
    background: linear-gradient(to top, #f2f2f2 0%, #f2f2f2 40%, white 40%, white 100%);
    border-top: 1px solid #d9d9d9;
    min-width: 768px;
  }

  .live-example__container {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .live-example__headline {
    font-size: 60px;
    line-height: 60px;
    margin-top: 48px;
  }

  .live-example__text {
    font-size: 16px;
    color: #444444;
    line-height: 24px;
    margin-top: 60px;
    margin-right: 32px;
  }

  .live-example__options-body {
    padding: 0;
    width: 100%;
    margin-top: 20px;
  }

  .live-example__options-item--top:nth-child(2) {
    margin-left: 40px;
  }

  .live-example__options-item--top {
    line-height: 37px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 20px;
    width: 162px;
  }

  .live-example__options-item-indicators--top {
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 23px 10px 20px;
    font-size: 30px;
    margin: 0;
    width: 141px;
  }

  .live-example__options-item-discription--top {
    width: 75%;
    margin-top: -7px;
    background: white;
    left: 12%;
  }

  .live-example__options-item--botom {
    margin-top: 31px;
    margin-right: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

//десктопная версия
@media (min-width: 1300px) {
  .live-example {
    width: 100%;
    /*desctop*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(to top, #f2f2f2 0%, #f2f2f2 80%, white 80%, white 100%);
    border: none;
    justify-content: center;
    min-width: 1300px;
  }

  .live-example__container {
    display: flex;
    flex-direction: column;
    width: 630px;
    padding: 0;
    margin: 0;
  }

  .live-example__headline {
    margin-top: 53px;
  }

  .live-example__options {
    flex-wrap: wrap;
  }

  .live-example__options-body {
    width: 100%;
  }

  .live-example__text {
    margin-top: 145px;
    margin-bottom: 27px;
  }

  .live-example__options-item-discription--top {
    background: #f2f2f2;
  }

  .live-example__options-item--botom {
    margin-top: 56px;
    margin-left: 0;
    align-items: center;
    width: 57%;
    flex-direction: row;
    justify-content: space-between;
  }
}
