.presents {
  width: 280px;
  height: 289px;
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: contain;
  align-items: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.presents__image {
  width: 55px;
  height: 60px;
  fill: white;
  margin-top: 53px;
}

.presents__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
  width: 159px;
  margin-top: 50px;
}

//планшетная версия
@media (min-width: 768px) {
  .presents {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    min-height: 200px;
    height: 100%;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .presents__image {
    margin: 0;
  }

  .presents__text {
    width: 159px;
    min-height: 56px;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}

//десктопная версия
@media (min-width: 1300px) {
  .presents {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin-top: 0;
    width: 20%;
    height: 100%;
    min-height: 285px;
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .presents__text {
    width: 66%;
  }
}
