.product-more {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.product-more__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.product-more__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.product-more__button {
  width: 245px;
  background-color: #f2f2f2;
  color: black;
}

//планшетная версия
@media (min-width: 768px) {
  .product-more {
    width: 324px;
    margin-top: 92px;
    min-height: 443px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .product-more__title {
    width: 133px;
    height: 38px;
    font-size: 20px;
  }

  .product-more__text {
    width: 165px;
    height: 35px;
    font-size: 16px;
  }

  .product-more__button {
    width: 280px;
    margin-bottom: 40px;
  }
}

//десктопная версия
@media (min-width: 1300px) {
  .product-more {
    width: 243px;
    height: 407px;
    margin: 0;
    margin-right: 40px;
  }

  .product-more__button {
    width: 169px;
  }
}
