.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social__item {
  list-style: none;
  width: 22px;
  height: 12px;
}

.social__link {
  width: 22px;
  height: 12px;
}

.link-icon {
  width: 22px;
  height: 19px;
}

.link-icon:hover {
  fill: #68b738;
}

.link-icon:active {
  fill: black;
  opacity: 0.3;
}
